<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.llab">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fragment.fragmentData.FragmentData"></activity>
        <activity android:name=".fragment.fragmentBase.FragmentTest"></activity>
        <activity android:name=".fragment.fragmentData.FDSame"></activity>
        <activity android:name=".fragment.fragmentData.FDiff"></activity>
        <activity android:name=".annotation.anno_RT"></activity>
        <activity android:name=".annotation.anno_bknife"></activity>
        <activity android:name=".reflection.ref_base"></activity>
        <activity android:name=".Thread.ThreadActitvity"></activity>
        <activity android:name=".Thread.ThreadPoolActivity"></activity>
        <activity android:name=".service.ServiceBasicActivity"></activity>
        <activity android:name=".service.AIDLSimpleActivity"></activity>
        <activity android:name=".IPC.handlerBasic"></activity>
        <activity android:name=".broadcast.BasicBroadcastActivity"></activity>
        <activity android:name=".view.ShapeViewActivity"></activity>
        <activity android:name=".IPC.SimpleAsyncTask"></activity>
        <activity android:name=".Network.SimpleHttpActivity"></activity>
        <activity android:name=".Network.OkHttp3BasicActivity"></activity>

        <service android:name=".service.SimpleService"></service>
        <service android:name=".service.MyIntentService"></service>
        <service android:name=".broadcast.UpdateGService"></service>
        <service android:name=".service.SimpleRemoteService"
            android:process=":remote"></service>
        <service android:name=".service.SimpleAIDL"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.SimpleAIDL"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </service>
        <service android:name=".service.IPCnoAIDL"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.IPCnoAIDL"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </service>
        <service android:name=".IPC.MessengerService">
            <intent-filter>
                <action android:name="android.intent.action.MsgService"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </service>
    </application>


</manifest>
